<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="biu.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode watchedFiles="*.js" />
    <rewrite>
      <rules>
        <rule name="server">
          <match url=".*" />
          <action type="Rewrite" url="biu.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
